*.log
*.wlf
transcript
sim/gmzpu
sim/zpu
sim/work
sim/zetaio
sim/wave.do
roms/*/*.dis
roms/*/*.bin
roms/*/*.elf
roms/*/*.ram
roms/zwc_test/zwc_test.vhdl
sim/*.vstf
*.bak
roms/hello/hello.vhdl
roms/hello/int_test.vhdl
*-eps-converted-to.pdf
*.aux
